<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="cqs32.exe">
        <system.webServer>
            <handlers accessPolicy="Read, Execute, Script">
                <remove name="CGI-exe" />
                <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" scriptProcessor="C:\public_html\cgi-bin\cqs32.exe" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            </handlers>
        </system.webServer>
    </location>
</configuration>
